* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-feature-settings: normal;
  tab-size: 4;
  color: black;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  background-size: cover;
}

section {
  padding: 3rem 0;
}

li {
  display: inline;
  padding: 10px 40px;
}

p {
  font-size: 2rem;
  font-weight: 300;
  font-family: Söhne, sans-serif;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.section-heading h1 {
  letter-spacing: 2px;
  font-size: 3.5rem;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  font-family: 'Inconsolata', sans-serif;
}

.section-heading h1::before,
.section-heading h1::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

header {
  width: 100%;
  height: 40vh;
}

.landing-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 10rem;
  font-family: 'Inconsolata', sans-serif;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}

.landing-text h6 {
  font-size: 4rem;
  font-weight: 300;
}

#scroll-container {
  border: none;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 50%;
  height: 100px;
  width: 1000px;
  margin-left: -100px;
  margin-top: 100px;
}

#scroll-text {
  text-align: right;
  margin-top: 30px;
  font-size: 5rem;
  font-weight: 300;
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
  font-family: 'Inconsolata', sans-serif;
}

/* Firefox animation */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* Chrome animation */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  a {
    font-size: 20px;
    font-family: 'Inconsolata', sans-serif;
    color: blue;
    text-decoration: none;
  }
}

.portfolio-description {
  flex: 1; /* Takes up the remaining space */
  margin-right: 2rem; /* Ensures some space between the text and the image */
}

.portfolio-description h1{
  font-family: Unica77llweb, sans-serif;
  font-size: 25px;
  margin: 0 0 10px;
  font-size: 22px;
  font-family: Unica77llweb, sans-serif;
  font-weight: 500;
}

.portfolio-img {
  flex-basis: auto; /* Allows the image container to grow as needed */
  max-width: 600px; /* Maximum width of the image container */
  height: auto; /* Keeps the aspect ratio of the image */
  margin-right: 2rem; /* Space on the right if there are multiple images side by side */
}

.portfolio-img img {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains the aspect ratio */
  max-height: 400px; /* Maximum height of the image */
}

.cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 0.3s ease;
}

.cta:hover {
  color: #eeeeee; /* Hover effect color change */
}

@media (max-width: 768px) {
  .portfolio-description, .portfolio-img {
    flex: 1 0 100%; /* Makes each take full width on smaller screens */
    margin-right: 0; /* Removes right margin on smaller screens */
  }
}

.image-container {
  display: flex;
}

.intro-content {
  p {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 19px;
  }
}

.text-box {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}

h1 {
  font-size: 25px;
  margin: 0 0 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.image-box {
  margin-top: 10px;
  width: 600px;
  height: 250px;
  background-image: url("/img/me.png");
  background-position: center;
  background-size: cover;
  border: 2px solid black;
  border-radius: 10px;
}

.social-media-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: -40px;
  line-height: 40px;
  color: white;
}

.timeline {
  position: relative;
  margin-left: 100px;
}

.entry {
  position: relative;
  margin-bottom: 25px; /* Reduced from 100px to decrease the space between entries */
}

.year {
  position: absolute;
  top: 0;
  left: -100px; /* Sets the year label to the left of the timeline */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #333;
  margin-left: 68px; /* Margin from the central timeline */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
  font-family: Söhne, sans-serif;
}

.content {
  margin-left: 150px; /* Space for content from the timeline center */
}

h3 {
  font-size: 22px;
  font-family: Unica77llweb, sans-serif;
  font-weight: 500;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 15px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #333;
}

.timeline::after {
  content: '';
  position: absolute;
  left: -5px; /* Centers the endpoint over the timeline */
  bottom: 0; /* Position at the bottom of the timeline */
  width: 15px; /* Width of the circle */
  height: 15px; /* Height of the circle */
  background-color: #333; /* Same color as the timeline */
  border-radius: 50%; /* Makes it circular */
  display: block;
}

#word {
  font-size: 10rem;
  font-family: Rosart, Georgia, Times New Roman, FZNewBaoSong, serif;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  border-right: 2px solid black; /* Create a cursor effect */
  white-space: nowrap;           /* Prevent wrapping */
  overflow: hidden;
}

/* Dark mode styles */

.dark-mode{
  background: black;
  color: white
}

.hero__animation-container {
  position: relative;
  display: inline-block;
}

.hero__animation-container svg {
  position: absolute;
  left: 0;
  bottom: -20px; /* Adjust the distance between the line and the text */
  width: 100%;
  height: 100px; /* Ensure enough space for the path */
}

.hero__animation-container svg path {
  stroke: black; /* Green color for the underline and circles */
  stroke-width: 3;
  fill: none;
  stroke-dasharray: 3000; /* Total length of the path */
  stroke-dashoffset: 3000; /* Initially hide the entire path */
  animation: drawPath 4s ease forwards; /* Animate the drawing */
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0; /* Fully reveal the path */
  }
}

  